a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}

.input-group-text {
    background-color: #CCCCFF;
}

.form-right {
    background-color: #CCCCFF;
}

.btn {
    background-color: #DDA0DD;
}

.btn:disabled {
    opacity: 0.5;
}

.alert {
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 5px;
}

.radio {
    display: flex;
    justify-content: space-around;
}