/*a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
}

.input-group-text {
    background-color: #CCCCFF;
}

.form-right {
    background-color: #CCCCFF;
}

.btn {
    background-color: #DDA0DD;
}

.btn:disabled {
    opacity: 0.5;
}

.alert {
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 5px;
}

.container{
    height:50%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rounded{

}*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-family: 'Roboto';
}

body {
    background: linear-gradient(90deg, #cd8dda, #7a2055);
}

.wrapper {
    height: 100vh;
    position: realtive;
}

i {
    font-size: 50px;
}

.card-content {
    max-width: 30rem;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 4rem .5rem;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, .3);
    text-align: center;
}

.card-content h1 {
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

.card-content p {
    font-size: .8rem;
    margin: 0 0 2rem 0;
}

input {
    padding: .8rem 1rem;
    width: 40%;
    border-radius: 0.3rem;
    outline: none;
    border: .1rem solid #d1d1d1;
    font-size: .7rem;
}

::placeholder {
    color: #d1d1d1;
}

.subscribe-btn {
    padding: .8rem 2rem;
    border-radius: 0.3rem;
    background: linear-gradient(90deg, #cd8dda, #914973);
    color: #fff;
    font-size: .7rem;
    border: none;
    outline: none;
    cursor: pointer;
}