<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">

    <div class="card l-bg-green-dark">
        <div class="card-statistic-3 p-4">
            <i class="bi bi-database-up"></i>
            <div class="mb-4">
                <h5 class="card-title mb-0">Portal alterado com sucesso !</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">

                </div>
                <div class="col-4">
                    <h2 class="d-flex align-items-center mb-0">
                        <button style="margin: -30px;" type="button" class="btn btn-info" (click)="voltar()">Listar</button>
                    </h2>
                </div>
            </div>
        </div>
    </div>

</div>