<nav class="navbar navbar-expand-lg" aria-label="Ninth navbar example">
    <div class="container-xl">
        <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
            <img style="max-width:70px; margin-top: -7px;" src="../../../assets/img/logo.svg">
            <span style="font-size: 40px; margin-left: 10px; color: brown;">Portais</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" style="cursor: pointer;" aria-current="page" (click)="login()"><i class="bi bi-door-open-fill"></i>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="cursor: pointer" (click)="listarPortais()"><i class="bi bi-file-pdf-fill"></i>Relatórios</a>
                </li>
            </ul>
            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>

<div class="container mt-2 p-4 d-flex justify-content-center">
    <div class="row">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title"></h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-success">
                            <span class="widget-49-date-day"><i class="bi bi-check2-circle"></i></span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title" *ngIf="portal">{{ portal.nome }}</span>
                            <span class="widget-49-meeting-time"></span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                        <li class="widget-49-meeting-item"><span class="span-title">Url de produção:</span></li>
                        <li class="widget-49-meeting-item" *ngIf="portal"><span><a href="{{ portal.urlProducao }}" target="_blank">{{ portal.urlProducao }}</a></span></li>
                        <li class="widget-49-meeting-item"><span class="span-title">Versão do Wordopress Produção:</span></li>
                        <li class="widget-49-meeting-item" *ngIf="portal"><span>{{ portal.versaoWordpressProducao }}</span></li>
                        <li class="widget-49-meeting-item" *ngIf="portal"><span class="span-title">Url de homologação:</span></li>
                        <li class="widget-49-meeting-item" *ngIf="portal"><span><a href="{{ portal.urlHomologacao }}" target="_blank">{{ portal.urlHomologacao }}</a></span></li>
                        <li class="widget-49-meeting-item"><span class="span-title">Versão do Wordopress Homologação:</span></li>
                        <li class="widget-49-meeting-item" *ngIf="portal"><span>{{ portal.versaoWordpressHomologacao }}</span></li>
                        <li class="widget-49-meeting-item"><span class="span-title">Responsável:</span></li>
                        <li class="widget-49-meeting-item" *ngIf="portal"><span>{{ portal.responsavel }} </span></li>
                    </ol>
                    <div class="botoes">
                        <button type="button" class="btn btn-outline-info m-1" routerLink="/">Voltar</button>
                        <button type="button" class="btn btn-outline-warning m-1" (click)="gerarPdf(portal)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
              <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
              <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
            </svg>
                            Imprimir
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
