<div *ngIf="portalAnonimo.versaoWordpressProducao != version ; then orange; else green"></div>

<ng-template #orange>
    <div class="card l-bg-orange">
        <div class="title">
            <h4>{{ portalAnonimo.nome }}</h4>
            <div class="icon-card"><i class="bi bi-bell-fill"></i></div>
        </div>
        <div class="info">
            <h6 style="color: brown; margin-top: 0px;">Wordpress Uso: v{{portalAnonimo.versaoWordpressProducao}}</h6>
            <h6 style="color: green; margin-top: 0px;">Wordpress Atual: v{{ version }}</h6>
            <h5><a class="btn btn-lg btn-flash-border-secondary" routerLink="/consulta-detalhes/{{portalAnonimo.id}}">Detalhe</a></h5>
        </div>
        <div class="status">
            <h6>Desatualizado</h6>
        </div>
    </div>

</ng-template>

<ng-template #green>
    <div class="card l-bg-green-dark">
        <div class="title">
            <h4>{{ portalAnonimo.nome }}</h4>
            <div class="icon-card"><i class="bi bi-clipboard-check-fill"></i></div>
        </div>
        <div class="info">
            <h5 style="color: bisque; margin-top: 11px;">Atualizado</h5>
            <h5><a class="btn btn-lg btn-flash-border-secondary" routerLink="/consulta-detalhes/{{portalAnonimo.id}}">Detalhe</a></h5>
        </div>
    </div>
</ng-template>