<div class="container mt-2 p-4">
    <div class="row">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">{{ portal.nome }}</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-success">
                            <span class="widget-49-date-day">22</span>
                            <span class="widget-49-date-month">apr</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">Nome</span>
                            <span class="widget-49-meeting-time">{{ portal.nome }}</span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                        <li class="widget-49-meeting-item"><span>Servidor de produção: {{ portal.servidorProducao }}</span></li>
                        <li class="widget-49-meeting-item"><span>Servidor de homologação: {{ portal.servidorHomologacao }}</span></li>
                        <li class="widget-49-meeting-item"><span>Versão do Wordopress: {{ portal.versaoWordpress }}</span></li>
                        <li class="widget-49-meeting-item"><span>Ativo: {{ portal.ativo }}</span></li>
                    </ol>
                    <div class="widget-49-meeting-action">
                        <button type="button" class="btn btn-outline-danger m-1">Excluir</button>
                        <button type="button" class="btn btn-outline-warning m-1">Alterar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>